{# Resources/views/Default/skeleton.xlf.twig #}
{# (c) 2016: 975l <contact@975l.com> #}
{# (c) 2016: Laurent Marquet <laurent.marquet@laposte.net> #}
{% spaceless %}
<?xml version="1.0"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
    <file source-language="en" target-language="{{ language }}" datatype="plaintext" original="{{ filename }}.en.xlf">
        <body>
        {% for xliff_line in xliff %}
            <trans-unit id="{{ xliff_line.id }}">
                <source>{{ xliff_line.transKey|trim }}</source>
                {% if xliff_line.target == null %}
                    <target><![CDATA[[ {{ xliff_line.en|raw }} ]]]></target>
                {% else %}
                    <target><![CDATA[{{ xliff_line.target|raw }}]]></target>
                {% endif %}
            </trans-unit>
        {% endfor %}
        </body>
    </file>
</xliff>
{% endspaceless %}