{% apply spaceless %}
<?xml version="1.0"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
    <file source-language="{{ sourceLanguage }}" target-language="{{ language }}" datatype="plaintext" original="{{ filename }}.{{ sourceLanguage }}.xlf">
        <body>
        {% for translation in translations %}
            <trans-unit id="{{ translation.id }}">
                <source>{{ translation.transKey|trim }}</source>
                {% if translation.target == null %}
                    <target>[<![CDATA[[ {{ translation.default|raw }} ]]]>]</target>
                {% else %}
                    <target><![CDATA[{{ translation.target|raw }}]]></target>
                {% endif %}
            </trans-unit>
        {% endfor %}
        </body>
    </file>
</xliff>
{% endapply %}